{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hotel Luminar</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>

<body>

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 col-lg-3 m-0 p-0">
                <div class="bg-black text-white p-3 vh-100">
                    <div class="my-5">
                        <p><a href="/usuarios" class="btn btn-danger w-100">Atras</a> </p>
                    </div>
                    <hr>
                    <div class="text-center bg-black">
                        <h2 class="text-info">Editar informacion de</h2>
                        <h3>'{{ usuario.first_name }} {{ usuario.last_name }}'</h3>
                    </div>
                    <hr>
                    <div class="my-5">
                        <p><button class="btn btn-primary w-100" id="id_card_2">Editar información personal</button></p>
                        <p><button class="btn btn-primary w-100" id="id_card_3">Editar información de la cuenta</button>
                        </p>
                        <p><button class="btn btn-primary w-100" id="id_card_4">Editar información del cargo</button>
                        </p>
                    </div>
                    <hr>
                    <div class="my-5">
                        <p>
                            <a href="{% url 'eliminar_usuario' usuario.id %}" class="btn btn-danger w-100"
                                id="id_card_1">Eliminar usuario</a>
                        </p>
                    </div>
                </div>
            </div>


            <div class="col-sm-9 col-lg-9 m-0 p-0">
                <div class="text-center" style="font-size: 15rem; display: block;" id="card_1">
                    <i class="bi bi-person-gear"></i>
                </div>

                <form action="{% url 'editar_usuario' usuario.id %}" method="POST">
                    {% csrf_token %}
                    <div class="card p-5 vh-100" style="display: none; background: linear-gradient(to right, rgb(223, 218, 213), antiquewhite 0%, #B89D80 100%);" id="card_2">
                        <div class="card-header">
                            <div class="card-header text-center bg-black">
                                <h2 class="text-info">Información personal</h2>
                            </div>
                        </div>
                        <div class="card-body">
                            <div>
                                <label for="id_cedula" class="form-label">Cedula:</label>
                                <input type="text" class="form-control" name="cedula" value="{{ usuario.cedula }}"
                                    maxlength="10" required="" id="id_cedula">
                            </div>

                            <div>
                                <label for="id_first_name" class="form-label">First name:</label>
                                <input type="text" class="form-control" name="first_name"
                                    value="{{ usuario.first_name }}" maxlength="50" required="" id="id_first_name">
                            </div>

                            <div>
                                <label for="id_last_name" class="form-label">Last name:</label>
                                <input type="text" class="form-control" name="last_name" value="{{ usuario.last_name }}"
                                    maxlength="50" required="" id="id_last_name">
                            </div>

                            <div>
                                <label for="id_fecha_de_nacimiento" class="form-label">Fecha de nacimiento:</label>
                                <input type="date" class="form-control" name="fecha_de_nacimiento"
                                    value="{% if usuario.fecha_de_nacimiento %}{{ usuario.fecha_de_nacimiento|date:"Y-m-d" }}{% endif %}" required=""
                                    id="id_fecha_de_nacimiento">
                            </div>

                            <div>
                                <label for="id_genero" class="form-label">Genero:</label>
                                <select name="genero" class="form-select" required="" id="id_genero">
                                    <option value="" {% if not usuario.genero %}selected{% endif %}>-----</option>
                                    <option value="FEMENINO" {% if usuario.genero == "FEMENINO" %}selected{% endif %}>FEMENINO</option>
                                    <option value="MASCULINO" {% if usuario.genero == "MASCULINO" %}selected{% endif %}>MASCULINO</option>
                                </select>
                                
                            </div>

                            <div class="mt-4 justify-content-between d-flex">
                                <a href="{% url 'editar_usuario' usuario.id %}"
                                    class="btn btn-danger w-50 mx-4">Cancelar</a>
                                <button type="submit" class="btn btn-success w-50 mx-4">Save changes</button>
                            </div>
                        </div>
                    </div>

                    <div class="card p-5 vh-100" style="display: none; background: linear-gradient(to right, rgb(223, 218, 213), antiquewhite 0%, #B89D80 100%);" id="card_3">
                        <div class="card-header">
                            <div class="card-header text-center bg-black">
                                <h2 class="text-info">Editar información de la cuenta</h2>
                            </div>
                        </div>
                        <div class="card-body">
                            <div>
                                <label for="id_email" class="form-label">Email:</label>
                                <input type="email" class="form-control" name="email" value="{{ usuario.email }}"
                                    maxlength="254" required="" id="id_email">
                            </div>

                            <div>
                                <label for="id_username" class="form-label">Username:</label>
                                <input type="text" class="form-control" name="username" value="{{ usuario.username }}"
                                    maxlength="30" required="" id="id_username">
                            </div>

                            <div class="my-5">
                                <a href="{% url 'cambiar_password' usuario.id %}" class="btn btn-info">Cambiar contraseña</a>
                            </div>

                            <div style="display: none;">
                                <label for="password1">Contraseña:</label>
                                <input type="password" value="{{ usuario.password }}" name="password1" class="form-control" placeholder="Ingrese su contraseña..." id="password1" required>
                            </div>
                        
                            <div style="display: none;">
                                <label for="password2">Contraseña de Confirmación:</label>
                                <input type="password" value="{{ usuario.password }}" name="password2" class="form-control" placeholder="Ingrese nuevamente su contraseña..." id="password2" required>
                            </div>

                            <div class="mt-4 justify-content-between d-flex">
                                <a href="{% url 'editar_usuario' usuario.id %}" class="btn btn-danger w-50 mx-4">Cancelar</a>
                                <button type="submit" class="btn btn-success w-50 mx-4">Save changes</button>
                            </div>
                        </div>
                    </div>

                    <div class="card p-5 vh-100" style="display: none; background: linear-gradient(to right, rgb(223, 218, 213), antiquewhite 0%, #B89D80 100%);" id="card_4">
                        <div class="card-header">
                            <div class="card-header text-center bg-black">
                                <h2 class="text-info">Editar información del cargo</h2>
                            </div>
                        </div>
                        <div class="card-body">
                            <div>
                                <label for="id_telefono" class="form-label">Telefono:</label>
                                <input type="text" class="form-control" name="telefono" value="{{ usuario.telefono }}"
                                    maxlength="15" required="" id="id_telefono">
                            </div>

                            <div>
                                <label for="id_cargo" class="form-label">Cargo:</label>
                                <select name="cargo" class="form-select" required="" value="{{ usuario.cargo }}"
                                    id="id_cargo">
                                    <option value="">-----</option>
                                    <option value="GERENTE" selected="">GERENTE</option>
                                    <option value="ADMINISTRADOR">ADMINISTRADOR</option>
                                    <option value="EMPLEADO">EMPLEADO</option>
                                </select>
                            </div>

                            <div class="mt-4 justify-content-between d-flex">
                                <a href="{% url 'editar_usuario' usuario.id %}"
                                    class="btn btn-danger w-50 mx-4">Cancelar</a>
                                <button type="submit" class="btn btn-success w-50 mx-4">Save changes</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous">
        </script>

    <script src="{% static 'js/editar_usuario.js' %}"></script>

</body>

</html>